<div id="page-wrapper">
    <br>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div id="form-username" class="form-group">
                            <label for="username" class="col-md-2 control-label">Username:</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div id="form-password" class="form-group">
                            <label for="password" class="col-md-2 control-label">Password:</label>
                            <div class="col-md-10">
                                <input type="password" ng-model="model.user.password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <button ng-click="model.login(model.user)" class="btn btn-primary col-md-12 col-xs-12"> Login </button>
                            </div>
                        </div>
                        <br>
                        <div class="row" ng-show="model.invalidLogin">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="alert alert-danger">
                                    Invalid username/password combination. Please try again
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>