<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> <img ng-show="model.user.profilePicUrl" src="{{model.user.profilePicUrl}}" alt="User Profile Picture" class="img-circle usr-img"> {{model.user.firstName}} {{model.user.lastName}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" ng-show="model.isSelf">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user-secret"></i> Edit Profile
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Username: </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password: </label>
                            <div class="col-sm-10">
                                <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="first_name" class="col-sm-2 control-label nowrap">First Name: </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="user.firstName" class="form-control" id="first_name" placeholder="First Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="last_name" class="col-sm-2 control-label nowrap">Last Name: </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="user.lastName" class="form-control" id="last_name" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email: </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="user.email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">User Type: </label>
                            <div class="col-sm-10">
                                <input type="radio" name="type" ng-model="user.type"  value="investor" id="type"> Investor
                                <input type="radio" name="type" ng-model="user.type" value="analyst"> Analyst
                            </div>
                        </div>

                    </form>

                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                            <button ng-click="model.update(user)" class="btn btn-primary col-xs-12"> Update </button>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="alert alert-success col-xs-12 col-sm-10 col-sm-offset-2" ng-show="model.showSuccessAlert">
                            <strong>Updated!</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="profilePicPanel" class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i> Profile Picture
                </div>
                <div class="panel-body">
                    <img ng-show="model.user.profilePicUrl" src="{{model.user.profilePicUrl}}" alt="User Profile Picture" class="img-circle profile-img">
                    <br>
                    <br>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="profilePic" class="col-sm-2 control-label">Profile Picture: </label>
                            <div class="col-sm-10">
                                <input type="file" file-model="model.fileModel" id="profilePic">
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                            <button ng-click="model.updateProfilePic()" class="btn btn-primary col-xs-12"> Update </button>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="alert alert-success col-xs-12 col-sm-10 col-sm-offset-2" ng-show="model.showProfilePicSuccessAlert">
                            <strong>Updated!</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="portfolioPanel" class="panel panel-default loading">
                <div class="panel-heading">
                    <i class="fa fa-money"></i> <a href="#/portfolio/{{model.user._id}}">Portfolio Summary</a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>
                                    <b>Investment Total</b>
                                </td>
                                <td>
                                    <b>{{model.invTotal}}</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Current Total</b>
                                </td>
                                <td>
                                    <b>{{model.currentTotal}}</b>
                                </td>
                            </tr>
                            <tr ng-show="model.profit">
                                <td>
                                    <b>Profit</b>
                                </td>
                                <td class="profit">
                                    <b><i class="fa fa-thumbs-o-up"></i>{{model.profit}}</b>
                                </td>
                            </tr>
                            <tr ng-show="model.profit">
                                <td>
                                    <b>Profit Percentage</b>
                                </td>
                                <td class="profit">
                                    <b><i class="fa fa-thumbs-o-up"></i>{{model.profitPercentage}}</b>
                                </td>
                            </tr>
                            <tr ng-show="model.loss">
                                <td>
                                    <b>Loss</b>
                                </td>
                                <td class="loss">
                                    <b><i class="fa fa-thumbs-o-down"></i>{{model.loss}}</b>
                                </td>
                            </tr>
                            <tr ng-show="model.loss">
                                <td>
                                    <b>Loss Percentage</b>
                                </td>
                                <td class="loss">
                                    <b><i class="fa fa-thumbs-o-down"></i>{{model.lossPercentage}}</b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="(model.userComments.length > 0)" class="col-lg-6">
            <div id="commentsPanel" class="panel panel-default loading">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i> <a href="#/portfolio/{{model.user._id}}">Comments on portfolio</a>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix" ng-repeat="comment in model.userComments">
                            <div class="clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{comment.userFirstName}} {{comment.userLastName}}</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{comment.timestamp}}
                                    </small>
                                </div>
                                <p>
                                    {{comment.text}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>