<div id="page-wrapper">
    <br>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user-plus fa-fw"></i> Register
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div id="form-firstName" class="form-group">
                            <label for="registerFirstName" class="col-md-2 control-label">First Name: </label>
                            <div class="col-md-10">
                                <input type="text" ng-model="model.user.firstName" class="form-control" id="registerFirstName" placeholder="First Name">
                            </div>
                        </div>

                        <div id="form-lastName" class="form-group">
                            <label for="registerLastName" class="col-md-2 control-label">Last Name: </label>
                            <div class="col-md-10">
                                <input type="text" ng-model="model.user.lastName" class="form-control" id="registerLastName" placeholder="Last Name">
                            </div>
                        </div>

                        <div id="form-username" class="form-group">
                            <label for="registerUsername" class="col-md-2 control-label">Username: </label>
                            <div class="col-md-10">
                                <input type="text" ng-model="model.user.username" class="form-control" id="registerUsername" placeholder="Username">
                            </div>
                        </div>

                        <div id="form-password" class="form-group">
                            <label for="registerPassword" class="col-md-2 control-label">Password: </label>
                            <div class="col-md-10">
                                <input type="password" ng-model="model.user.password" class="form-control" id="registerPassword" placeholder="Password">
                            </div>
                        </div>

                        <div id="form-email" class="form-group">
                            <label for="registerEmail" class="col-md-2 control-label">Email: </label>
                            <div class="col-md-10">
                                <input type="email" ng-model="model.user.email" class="form-control" id="registerEmail" placeholder="Email">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                                <button ng-click="model.register(model.user)" class="btn btn-primary col-xs-12"> Register </button>
                            </div>
                        </div>

                        <br>

                        <div class="row" ng-show="model.usernameExists">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="alert alert-danger">
                                    Username already exists !
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>