<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>NASDAQ: {{model.indexValue}}</h3>
        </div>
        <div class="col-xs-12 col-md-3 nowrap">
            <h3>Difference: {{model.difference}}</h3>
        </div>
        <div class="col-xs-12 col-md-3 nowrap">
            <h3>Percentage: {{model.percentage}}</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>News</h3>
            <table class="table">
                <tr ng-repeat="each in model.news">
                    <td>
                        <a href="{{each.url}}" target="_blank"> <div ng-bind-html="model.deliberatelyTrustDangerousSnippet(each.title)"></div></a>
                        <div ng-bind-html="model.deliberatelyTrustDangerousSnippet(each.content)"></div>
                    </td>
                    <td valign="middle">
                        <img src="{{each.imageUrl}}" width="150" class="img-rounded">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <div id="nasdaqContainer"></div>
        </div>
    </div>
</div>
