.navbar-portman {
    margin-bottom: 0;
}
.table>tbody>tr>td {
    border-top:0px;
    vertical-align: middle;
}
.profit {
    color: #4CAF50;
}
.loss {
    color: #F44336;
}
.panel {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
.panel, .panel-body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
.panel.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #FFF url('images/progress.gif') no-repeat 50% 50%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
.panel-body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
.panel.loading .panel-body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}