<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>MessageBoard: {{model.stock.company}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.date}}</div>
                            <div>Date</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">{{model.indexValue}}</div>
                            <div>Index</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.difference}}</div>
                            <div>Difference</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">{{model.percentage}}</div>
                            <div>Percentage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.high}}</div>
                            <div>High</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">{{model.low}}</div>
                            <div>Low</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.volume}}</div>
                            <div>Volume</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i>Messages
                    </div>
                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix" ng-repeat="message in model.stockMessages">
                                <div class="clearfix">
                                    <div class="header">
                                        <strong class="primary-font"><a href="#/profile/{{message.userId}}">{{message.userFirstName}} {{message.userLastName}}</a></strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> {{message.timestamp}}
                                        </small>
                                    </div>
                                    <p>
                                        {{message.text}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="model.newMessage.text">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" ng-click="model.addMessage(model.newMessage)">Add Message</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>