<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table">
        <tr>
            <td><h1>{{stockCode}}</h1></td>
            <td><h1>{{indexValue}}</h1></td>
            <td><h1>{{difference}}</h1></td>
            <td><h1>{{percentage}}</h1></td>
        </tr>
    </table>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <h2>News</h2>
            <table class="table">
                <tr ng-repeat="each in news">
                    <td>
                        <a href="{{each.url}}" target="_blank"> <div ng-bind-html="deliberatelyTrustDangerousSnippet(each.title)"></div></a>
                        <!--{{each.content}}-->
                        <div ng-bind-html="deliberatelyTrustDangerousSnippet(each.content)"></div>
                    </td>
                    <td valign="middle">
                        <img src="{{each.imageUrl}}" width="200" class="img-rounded">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6">
            <div id="stockContainer" class="left-border"></div>
        </div>
    </div>
</div>
