<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{model.stock.company}}
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" ng-click="model.addToPortfolio()" class="btn btn-primary">Add to Portfolio</button>
                    </div>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.date}}</div>
                            <div>Date</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">{{model.indexValue}}</div>
                            <div>Index</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.difference}}</div>
                            <div>Difference</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">{{model.percentage}}</div>
                            <div>Percentage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.high}}</div>
                            <div>High</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="huge">{{model.low}}</div>
                            <div>Low</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="huge">{{model.volume}}</div>
                            <div>Volume</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Basic Chart
                    </div>
                    <div class="panel-body">
                        <div id="stockContainer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> News
                    </div>
                    <div class="panel-body">
                        <ul class="timeline" ng-repeat="each in model.news">
                            <li ng-class="{'timeline-inverted': ($index%2 != 0)}">
                                <div class="timeline-badge"><i class="fa fa-newspaper-o"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><a href="{{each.url}}" target="_blank"><div ng-bind-html="model.deliberatelyTrustDangerousSnippet(each.title)"></div></a></h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{each.date}}</small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <div ng-bind-html="model.deliberatelyTrustDangerousSnippet(each.content)"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>