<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" ng-show="model.isSelf">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Add / Edit
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal">
                        <div class="col-lg-2 nowrap">
                            <b>Stock:</b><input type="text" ng-model="model.selectedStock.code" placeholder="Stock" class="form-control"/>
                        </div>
                        <div class="col-lg-2 nowrap">
                            <b>Investment Price</b><input type="text" ng-model="model.selectedStock.invPrice" placeholder="Price" class="form-control"/>
                        </div>
                        <div class="col-lg-2 nowrap">
                            <b>Quantity</b><input type="text" ng-model="model.selectedStock.quantity" placeholder="Quantity" class="form-control"/>
                        </div>
                        <div class="col-lg-2 nowrap">
                            <b>Investment Date</b><input type="date" ng-model="model.selectedStock.invDate" placeholder="Date" class="form-control"/>
                        </div>
                        <div class="col-lg-2 nowrap paddingTop20">
                            <button ng-click="model.addStock(model.selectedStock)" class="btn btn-primary form-control"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i> Add</button>
                        </div>
                        <div class="col-lg-2 nowrap paddingTop20">
                            <button ng-click="model.updateStock(model.selectedStock)" class="btn btn-success form-control"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Update</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="currentStock in model.userStocks">
            <div class="col-lg-3">
                <div  id="{{currentStock._id}}" class="panel panel-default loading">
                    <div class="panel-heading">
                        <i class="fa fa-money fa-fw"></i> <a href="#/stock/{{currentStock.code}}">{{currentStock.code}} : {{currentStock.stockIndex}}</a>
                        <div class="pull-right" ng-show="model.isSelf">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions<span class="caret"></span></button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href ng-click="model.selectStock($index)"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                                    </li>
                                    <li><a href ng-click="model.deleteStock(currentStock)"><i class="fa fa-remove fa-fw"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><b>Investment Date</b></td>
                                    <td>{{currentStock.invDate}}</td>
                                </tr>
                                <tr>
                                    <td><b>Investment Price</b></td>
                                    <td>{{currentStock.invPrice}}</td>
                                </tr>
                                <tr>
                                    <td><b>Quantity</b></td>
                                    <td>{{currentStock.quantity}}</td>
                                </tr>
                                <tr>
                                    <td><b>Investment Total</b></td>
                                    <td>{{currentStock.invTotal}}</td>
                                </tr>
                                <tr>
                                    <td><b>Current Total</b></td>
                                    <td>{{currentStock.currentTotal}}</td>
                                </tr>
                                <tr ng-show="currentStock.profit">
                                    <td><b>Current Profit</b></td>
                                    <td class="profit"><b><i class="fa fa-thumbs-o-up"></i>{{currentStock.profit}}</b></td>
                                </tr>
                                <tr ng-show="currentStock.profit">
                                    <td><b>Profit Percentage</b></td>
                                    <td class="profit"><b><i class="fa fa-thumbs-o-up"></i>{{currentStock.profitPercentage}}</b></td>
                                </tr>
                                <tr ng-show="currentStock.loss">
                                    <td><b>Current Loss</b></td>
                                    <td class="loss"><b><i class="fa fa-thumbs-o-down"></i>{{currentStock.loss}}</b></td>
                                </tr>
                                <tr ng-show="currentStock.loss">
                                    <td><b>Loss Percentage</b></td>
                                    <td class="loss"><b><i class="fa fa-thumbs-o-down"></i>{{currentStock.lossPercentage}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i>Comments
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix" ng-repeat="comment in model.userComments">
                            <div class="clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{comment.userFirstName}} {{comment.userLastName}}</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{comment.timestamp}}
                                    </small>
                                </div>
                                <p>
                                    {{comment.text}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your comment here..." ng-model="model.newComment.text">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" ng-click="model.addComment(model.newComment)">Comment</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>